@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Roboto|Hepta+Slab&display=swap");
@import url(reset.css);

.external-style-sheet {
  list-style: none;
  color: teal;
}

/* Types of selectors */
/* 
    1. Element(tag) selector for example (body, p, h1, section, etc...)
    2. Id selector for example(#id-attribute-of-the-element)
    3. Class & Pseudo-class selector (.external-style-sheet, div p:first-child, etc...)
    4. Descendant selector (div p <= select all paragraph inside the div element no matter how many levels nested, 
        div > p <= select all paragraphs that are DIRECTLY children of the div element)
    5. Attribute selector (div['id=main-container'] <= this will select a div element that 
        has an id attribute equal to 'main-container')
*/

body {
  padding: 3em;
  /* this is equivalent to the following 4 css properties */
  /* padding-top: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-left: 3em; */
  /* padding: 0 3em 0 2em; */
  /* padding: top | right | bottom | left */
  /* margin shor-hand works the same as padding */
  margin: 1em;
  line-height: 1.2em;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(to top,
      #f3e7e9 0%,
      #e3eeff 99%,
      #e3eeff 100%);
}

h1 {
  font-family: "Hepta Slab", serif;
}

p {
  line-height: 1.2;
  margin-bottom: 1em;
}

/* Hyperlink styles */
a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: darkgreen;
}

.fruit-varieties {
  list-style-position: inside;
}

.test-btn {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
  font-size: 2em;
  width: 10vw;
  height: 6vh;
}